@tailwind base;

@tailwind components;

@tailwind utilities;

/* style */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,800;0,900;1,200;1,800;1,900&display=swap');

:root{
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transform: all .2 linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.729);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
    margin-top: -2rem;
}

.btn:hover {
    background: rgb(234 88 12);
    letter-spacing: .1rem;
}

header {
    padding: 1rem 7%;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    background: #fff;
}

/* header .navbar {
 margin-left: 5rem;
} */

header .navbar a {
    font-size: 1.6rem;
    padding: .5rem 1.7rem;
    color: rgba(0, 0, 0, 0.747);
    font-weight: 600;
    margin-left: 1.5rem;
    text-align: center;
}
header .navbar a:hover {
    color: rgb(234 88 12);
}

header .icons ion-icon,
header .icons ion-icon,
header .icons ion-icon{
    text-align: center;
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.831);
    border-radius: 50%;
    background: #eee;
    width: 2.5rem;
    height: 2.5rem;
    padding: 1rem;
    margin-left: 1rem;
}

header .icons ion-icon:hover,
header .icons ion-icon:hover,
header .icons ion-icon:hover{
    color: #fff;
    background: rgb(234 88 12);
    transform: rotate(365deg);
}

header .icons .menu{
    display: none;
}

.close-menu {
    display: none;
    text-align: right;
    font-size: 4.7rem;
    color: rgba(0, 0, 0, 0.831);
    /* border-radius: 50%;
    background: #eee; */
    width: 3rem;
    height: 3rem;
    padding: 0.9rem;
    margin-left: 90%;
    cursor: pointer;
}

.left-head {
    gap: 5rem;
}

.search-form {
    z-index: 1004 ;
    background: rgba(0, 0, 0, 0.8);
    padding: 0 1rem;
    display: none;
}

.search-form .search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

.search-form .search-box::placeholder {
    color: #eee;
}

.search-form .search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

.search-form label:hover {
    color: rgb(234 88 12);
}

.lightbox {
    margin-top: 22%;
}

.home {
    padding: 2rem 9%;
}

/* .home:nth-child(even) {
    background: #eee;
} */

.home .home-slider .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    padding-top: 9rem;
}

.home .home-slider .slide .content {
    flex: 1 1 45rem;
    padding-top: 7rem;
    line-height: 1.4;
    margin-top: -1.3rem;
}

.home .home-slider .slide .image {
    margin-right: -9rem;
    flex: 1 1 45rem;
}

.home .home-slider .slide .image img {
    width: 95%;
}


.home .home-slider .slide .content span {
    color: rgb(234 88 12);
    font-size: 2.3rem;
    font-weight: 600;
}

.home .home-slider .slide .content h3 {
    color: rgba(0, 0, 0, 0.738);
    font-size: 6rem;
    font-weight: 600;
    margin-top: -1rem;
}

.home .home-slider .slide .content p {
    color: rgba(0, 0, 0, 0.935);
    font-size: 2.2rem;
    padding:5rem 0 ;
    line-height: 1.5;
    margin-top: -3.95rem;
}

.swiper-pagination .buttet-active {
   background: rgb(234 88 12);
}

section:nth-child(even) {
    background: #eee;
}

.sub-heading {
    text-align: center;
    color: rgb(234 88 12);
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: 600;
}

.heading {
    text-align: center;
    color: rgba(0, 0, 0, 0.835);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.dishes {
    padding: 1.5rem;
}

.dishes .box-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.dishes .box-container .box {
     padding: 2.5rem;
     background: #fff;
     border-radius: .5rem;
     border: .1rem solid rgba(0, 0, 0, 0.2);
     box-shadow: var(--box-shadow);
     position: relative;
     overflow: hidden;
     text-align: center;
}

.dishes .box-container .box img {
    margin: 0 auto;
    width: 58%;
}

.dishes .box-container .box .heart,
.dishes .box-container .box .eye {
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 2.2rem;
    width: 2.2rem;
    line-height: 5rem;
    font-size: 2rem;
    padding: .5rem;
    color: rgba(0, 0, 0, 0.797);
}

.dishes .box-container .box .heart:hover,
.dishes .box-container .box .eye:hover {
    background: rgb(234 88 12);
    color: #fff;
}

.dishes .box-container .box .heart {
    right:-15rem;
}

.dishes .box-container .box .eye {
    left:-15rem;
}

.dishes .box-container .box:hover .heart {
    right:1.5rem;
}

.dishes .box-container .box:hover .eye {
    left:1.5rem;
}

.dishes .box-container .box h3 {
    color: rgba(0, 0, 0, 0.796);
    font-size: 2.5rem;
}

.dishes .box-container .box .stars {
    padding: 1rem 0;
}

.dishes .box-container .box .stars ion-icon {
    font-size: 1.7rem;
    color: rgb(234 88 12);
}

.dishes .box-container .box span {
    color: rgb(234 88 12);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    margin-top: -3rem;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem; 
}

.about .row .content h3 {
    color: black;
    font-size: 4rem;
    padding: .5rem 0;  
    font-weight: 600; 
}

.about .row .content p {
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    font-weight: 500;
    padding: .5rem .6rem; 
    line-height: 2;  
}

.about .row .content .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons {
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
    cursor: pointer;
}

.about .row .content .icons-container .icons ion-icon {
    font-size: 2.5rem;
    color: rgb(234 88 12);
}

.about .row .content .icons-container .icons span {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.765);
}

.btn-position {
    margin-top: 1rem;
}


















/* mobile-view */

@media (max-width:991px){
   html {
    font-size: 55%;
   }
}

@media (max-width:768px) {
    header .icons .menu {
        display: inline-block;
    }

    header .navbar { 
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 2rem;

        /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
        display: none;
    }

    header .navbar a{
        display: block;
        padding: 1.9rem;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 500;
        background: #eee;
        border-radius: 1rem;
        text-align: left;
    }

    header .navbar .menu-link a {
        background: rgb(234 88 12);
    }

    .close-menu {
        display: block;
    }

    .search-form .search-box {
        width: 90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3 {
        font-size: 6rem;
    }

    .home .home-slider .slide .image {
        margin-right: -13rem;
        margin-top: -3rem;
    }

    .home .home-slider .slide .image img {
        width: 80%;
    }
}

@media (max-width:991px){
    html {
     font-size: 50%;
    }
    header {
        padding: 1rem 2rem;
    }

    section {
        padding: 2rem;
    }

    .dishes .box-container .box img {
       height: auto;
       width: 90%;
    }

    .dishes .box-container {
        grid-template-columns: repeat(1, minmax(27rem, 1fr));
        gap: 1.5rem;
    }
 }












